@font-face {
    font-family: coolFont;
    src: url(font/coolFont.ttf);
}
@font-face {
    font-family: badfont;
    src: url(font/badfont.otf);
}
@font-face {
    font-family: starwarsmain;
    src: url(font/starwarsmain.ttf);
}

#index-body{
    background: skyblue;
    font-size: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#center-container{
    width: 40vw;
    /* height: fit-content; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
}

.btn-choose-game{
    font-family: Helvetica;
    font-size: 30px;
    font-weight: bold;
    width: 97%;
    display: block;
    height: 15vh;
    margin: 3% auto;
}

#center-container >  div{
    width: 100%;
    /* height: 100%; */
    margin: 3px auto 3px;
}

#select-game-type, #btn-select-game-mode, #collect-player-info{
    display: none;
}

#collect-player-info{
    font-size: 30px;
}

#collect-player-info form{
    margin: 5px auto 5px;
    width: 80%;
    padding: 10px;
}

#input-name{
    background-color:  #f2f2f2;
    border: 1px solid black;
    max-width: 100%;
}

#messages{
    height: 90vh;
    list-style-type: none;
    overflow-y: auto;
}

#invalid-name-warning{
    display: none;
    font-size: 20px;
    color: red;
}

#collect-player-info button{
    display: block;
    margin: 10px auto 5px;
}

.soontm-tooltip{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    padding: 5px 0;
    z-index: 3;
}

.display-tooltip:hover + .soontm-tooltip{
    visibility: visible;
}

#btn-select-game-mode{
    position: absolute;
    /* top: 29%;
    left: 33.5%;
    transform: translate(-50%, -50%); */
    font-size: 30px;
}

#user-info-form > div{
    text-align:center;
}

#return-img{
    width: 30px;
}

#index-body a{
    text-decoration: none;
}

body{
    font-size: 0;
    /* width: 100vw; */
    height: 100vh;
    overflow: hidden;
    /* overflow-y: auto; */
    margin: 0 auto;
    background-image: url(images/forestbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.game-title,
.game-subtitle{
    font-family: badFont;
    font-size: 120px;
    color: black;
    text-align: center;
    font-weight: bolder;
    margin: 20px 0 0;
    text-shadow:
            6px 6px white,
            -6px 6px white,
            6px -6px white,
            -6px -6px white,
            6px 6px 9px white;
}
.game-subtitle{
    font-family: starwarsmain;
    font-size: 40px;
    margin: 10px 0 10px;
    text-shadow:
            3px 3px white,
            -3px 3px white,
            3px -3px white,
            -3px -3px white,
            3px 3px 5px white;
}
#back-board{
    display: block;
    margin: 0 auto 0;
}
.game-contents > div:nth-child(2){
    overflow:auto;
}

#back-board > div > div{
    background-color: #27660c;
    border: 2px solid black;
    display: inline-block;
    height: 80px;
    width: 80px;
}
.game-contents{
    text-align: center;
}
.stats_container{
    /* width: 165px; */
    height: 200px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    /* margin: 0 20px; */
    /* bottom: 198px; */
}
/* #stats_container1{
    bottom: 193px;
} */
.player-info{
    font-size: 20px;
    font-weight: bold;
}
.player_one-name,
.player_two-name{
    font-family: starwarsmain;
    margin: 30px 0 10px;
    font-size: 40px;
    text-shadow:
            3px 3px white,
            -3px 3px white,
            3px -3px white,
            -3px -3px white,
            3px 3px 5px white;
}
.player1-value,
.player2-value{
    margin: 0 0 20px;
    color: darkred;
    font-family: coolFont;
    font-size: 40px;
    text-shadow:
            2px 2px white,
            -2px 2px white,
            2px -2px white,
            -2px -2px white,
            2px 2px 5px white;
}
#player-imageOne,
#player-imageTwo {
    width: 150px;
    height: auto;
    border: 3px solid black;
    box-shadow: 0 0 30px 2px whitesmoke;
}
#reset-button{
    margin-top: 20px;
    display: inline-block;
}
.button{
    height: 50px;
    border-radius: 30px;
    font-size: 30px;
    font-family: coolFont;
    color: white;
    background-color: black;
    display: inline-block;
}
.button:hover {
    background-color: ghostwhite;
    color: black;
    text-shadow:
            1px 1px white,
            -1px 1px white,
            1px -1px white,
            -1px -1px white,
            1px 1px 5px white;
}
.white-disc{
    background-image: url(images/jedi1.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.black-disc{
    background-image: url(images/Sith_Logo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
/* #jedi-turn-marker,
#sith-turn-marker {
    width: 60px;
    height: auto;
} */
.alternateHideImg {
    display: none;
}
.allowedSpot{
    background-image: url("images/allowed_pic.gif");
    background-size: contain;
    background-repeat: no-repeat;
}
.allowedSpot:hover{
    background-image: url("images/vader_dodge.gif");
    background-size: cover;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 499px;
    height: 500px;
    background-image: url(images/dancingvader.gif);
    background-size:cover;
    background-repeat:no-repeat;
}
.modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 499px;
    height: 500px;
    background-image: url(images/dancingyoda.gif);
    background-size:cover;
    background-repeat:no-repeat;
    bottom:294px;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.audio-btn{
    font-size: 21px;
    position: absolute;
    left: 10%;
    top: 10%;
}

.chat-div{
    background: white;
    /* height: 100vw; */
    width: 100%;
    margin: 0 3px 3px 3px;
    /* overflow-y: auto; */

}

.chat-header{
    padding: 3px;
    width: 100%;
    background: #e6e6e6;
    font-size: 30px;
    color: black;
    margin: 3px 3px 0px 3px;
}

.chat-header > p {
    text-align: center;
    margin: 0;
}



.chat__footer{
    font-size: 15px;
    margin: 5px;
    position: fixed;
}

#input_message{
    display: inline-block;
    width: 78%;
}

#send_button{
    display: inline-block;
    width: 20%;
}

.chat{
    height: 100vh;
    right: 10px;
}

.li-server-message{
    font-size: 15px;
    background: #f2f2f2
}

.li-message{
    font-size: 14px
}

@media only screen and (max-width: 950px){
    #back-board > div > div{
        height: 70px;
        width: 70px;
    }
}

@media only screen and (max-width: 850px){
    #back-board > div > div{
        height: 60px;
        width: 60px;
    }
}